.filter-container {
  mat-form-field {
    width: 100%; // Para que ocupe el ancho completo
    background-color: var(--cui-table-bg);
    border-bottom-width: var(--cui-border-width) !important;
    box-shadow: inset 0 0 0 9999px
      var(
        --cui-table-bg-state,
        var(--cui-table-bg-type, var(--cui-table-accent-bg))
      ) !important;

    input {
      color: var(
        --cui-table-color-state,
        var(--cui-table-color-type, var(--cui-table-color))
      );
    }

    .mat-form-field-wrapper {
      .mat-form-field-label {
        color: var(
          --cui-table-color-state,
          var(--cui-table-color-type, var(--cui-table-color))
        );
      }

      .mat-form-field-flex {
        border: 1px solid black; // Borde negro
        background-color: white; // Fondo blanco
      }

      .mat-form-field-underline {
        background-color: black; // Línea negra debajo del input
      }
    }

    .mat-input-element {
      background-color: var(--cui-table-bg);
      color: var(
        --cui-table-color-state,
        var(--cui-table-color-type, var(--cui-table-color))
      );
    }
  }
}

.pagination {
  background-color: var(--cui-table-bg);
  border: 1px solid var(--cui-border-color);
  border-radius: 4px;
  padding: 8px;

  .mat-button {
    color: var(--cui-button-color);

    &:hover {
      background-color: var(--cui-button-hover-bg);
    }
  }

  .mat-paginator-page-size {
    color: var(--cui-text-color);
  }

  .mat-paginator-range-label {
    color: var(--cui-text-color);
  }
}

.mat-mdc-paginator {
  color: var(--cui-text-color) !important;
}

::ng-deep .mat-mdc-select {
  color: var(--cui-text-color) !important;
}

table {
  background-color: var(--cui-table-bg);
  width: 100%;
}

tr {
  color: var(
    --cui-table-color-state,
    var(--cui-table-color-type, var(--cui-table-color))
  );
}
.mat-header-cell {
  background-color: var(
    --cui-table-header-bg
  ); // Ajusta esto si quieres un fondo diferente para el encabezado
}
