<div class="min-vh-100 d-flex flex-row align-items-center content-principal">
  <c-container breakpoint="md" class="main-content">
    <c-row class="justify-content-center">
      <c-col lg="10" xl="8">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <h1>Iniciar Sesión</h1>
                <p class="text-body-secondary">Inicia sesión en tu cuenta</p>

                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input
                    formControlName="email"
                    autoComplete="username"
                    cFormControl
                    placeholder="Username"
                  />
                </c-input-group>
                <div
                  *ngIf="
                    loginForm.get('email')?.invalid &&
                    loginForm.get('email')?.touched
                  "
                  class="text-danger"
                  style="padding: 12px; margin-top: -20px"
                >
                  Ingresa un correo válido.
                </div>

                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>

                  <input
                    formControlName="password"
                    autoComplete="current-password"
                    cFormControl
                    placeholder="Password"
                    type="password"
                  />
                </c-input-group>
                <div
                  *ngIf="
                    loginForm.get('password')?.invalid &&
                    loginForm.get('password')?.touched
                  "
                  class="text-danger"
                  style="padding: 12px; margin-top: -20px"
                >
                  La contraseña es requerida.
                </div>

                <c-row style="margin-top: 20px">
                  <c-col xs="6">
                    <button cButton class="px-4 btn-login" color="primary" type="submit">
                      Login
                    </button>
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
          </c-card>

          <c-card
            [ngStyle]="{ 'minWidth.%': 44 }"
            class="text-white bg-primary py-5 register-container"
          >
            <c-card-body class="text-center">
              <div>
                <h1>POSConnect</h1>
                <p class="my-4 sloggan">
                  El control total de tu tienda en un solo lugar.
                </p>
                <button
                  [active]="true"
                  cButton
                  class="mt-3 btn-forget-password"
                  color="primary"
                  routerLink="/register"
                >
                  ¿Olvidaste tu contraseña?
                </button>
              </div>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
