<div class="d-flex flex-column flex-md-row p-4">
  <div class="col-12 mb-3 mb-md-0 d-flex align-items-center justify-content-end">
    <button
      class="mx-3 btn btn-success fw-bold d-flex align-items-center justify-content-center btn-filter"
      (click)="addSale()"
      *ngIf="permissions && permissions.add"
    >
      <app-icons icon="plus"></app-icons>
      <span>Añadir Venta</span>
    </button>
  </div>
</div>

<!-- Datatable General Sale -->
<app-datatable
  [columns]="columns"
  [data]="sales"
  [buttons]="buttons"
  [showButtonGroup]="showButtonGroupSale"
  [buttonsGroup]="buttonsGroup"
  [iconbuttonsGroup]="iconGroup"
  [titleGroup]="titleGroup"
  [classGroup]="classGroup"
></app-datatable>

<!-- Modal Component -->
<app-modal
  [visible]="isModalVisible"
  (visibleChange)="handleModalVisibilityChange($event)"
  [title]="titleModal"
  [class]="classModal"
  (executeFunction)="handleClick()"
>
  <!-- Form View || Form Edit -->
  <form
    [formGroup]="saleForm"
    class="product-form"
    [ngClass]="classModal"
    *ngIf="!viewProducts"
  >
    <div class="form-group">
      <label for="date">Fecha Venta:</label>
      <input
        id="date"
        formControlName="date"
        class="form-control"
        type="date"
      />
      <div
        *ngIf="validationsFormService.isFieldInvalid(saleForm, 'date')"
        class="error-message"
      >
        {{ validationsFormService.getErrorMessage(saleForm, "date") }}
      </div>
    </div>

    <div class="form-group">
      <label for="totalAmount">Monto Total:</label>
      <div class="input-group">
        <span class="input-group-text">$</span>
        <input
          id="totalAmount"
          formControlName="totalAmount"
          class="form-control readonly-input"
          type="number"
          readonly
          (keydown)="validationsFormService.preventInput($event)"
          (input)="validationsFormService.preventInput($event)"
        />
      </div>
      <div
        *ngIf="validationsFormService.isFieldInvalid(saleForm, 'totalAmount')"
        class="error-message"
      >
        {{ validationsFormService.getErrorMessage(saleForm, "totalAmount") }}
      </div>
    </div>

    <div class="form-group">
      <label for="typePayment">Tipo de Pago:</label>
      <input
        id="typePayment"
        type="text"
        formControlName="typePayment"
        class="form-control"
        list="type_payment_options"
        (input)="filterPaymentForms($event)"
        (change)="paymentSelected($event)"
      />
      <datalist id="type_payment_options">
        <option
          *ngFor="let key of filteredPaymentForms"
          [value]="key.descripcion"
        >
          {{ key.id }} - {{ key.descripcion }}
        </option>
      </datalist>
      <div
        *ngIf="validationsFormService.isFieldInvalid(saleForm, 'typePayment')"
        class="error-message"
      >
        {{ validationsFormService.getErrorMessage(saleForm, "typePayment") }}
      </div>
    </div>

    <div class="form-group">
      <label for="dataPayment">Detalles del Pago:</label>
      <input
        id="dataPayment"
        formControlName="dataPayment"
        class="form-control"
        type="number"
        placeholder="Número de Tarjeta Sin Guiones, si fue en efectivo poner 0"
      />
      <div
        *ngIf="validationsFormService.isFieldInvalid(saleForm, 'dataPayment')"
        class="error-message"
      >
        {{ validationsFormService.getErrorMessage(saleForm, "dataPayment") }}
      </div>
    </div>

    <!-- Client -->
    <div class="form-group">
      <label for="nameClient">Nombre Cliente: </label>
      <input
        id="nameClient"
        type="text"
        formControlName="nameClient"
        class="form-control"
        list="clients_list"
        (input)="filterClients($event)"
        (change)="clientSelected($event)"
      />
      <datalist id="clients_list">
        <option *ngFor="let client of filteredClients" [value]="client.name">
          {{ client.id }} - {{ client.name }}
        </option>
      </datalist>
    </div>

    <div class="form-group">
      <label for="emailClient">E-mail Cliente: </label>
      <input
        id="emailClient"
        formControlName="emailClient"
        class="form-control readonly-input"
        readonly
        (keydown)="validationsFormService.preventInput($event)"
        (input)="validationsFormService.preventInput($event)"
      />
    </div>

    <div class="form-group">
      <label for="taxIdClient">RFC Cliente: </label>
      <input
        id="taxIdClient"
        formControlName="taxIdClient"
        class="form-control readonly-input"
        readonly
        (keydown)="validationsFormService.preventInput($event)"
        (input)="validationsFormService.preventInput($event)"
      />
    </div>

    <div class="form-group">
      <label for="taxSystemClient">Régimen Fiscal Cliente: </label>
      <input
        id="taxSystemClient"
        formControlName="taxSystemClient"
        class="form-control readonly-input"
        type="text"
        readonly
        (keydown)="validationsFormService.preventInput($event)"
        (input)="validationsFormService.preventInput($event)"
      />
    </div>

    <!-- Employee -->
    <div class="form-group">
      <label for="nameEmployee">Empleado: </label>
      <input
        id="nameEmployee"
        type="text"
        formControlName="nameEmployee"
        class="form-control"
        list="employee_list"
        (input)="filterEmployees($event)"
        (change)="employeeSelected($event)"
      />
      <datalist id="employee_list">
        <option
          *ngFor="let employee of filteredEmployees"
          [value]="employee.name"
        >
          {{ employee.id }} - {{ employee.name }}
        </option>
      </datalist>
      <div
        *ngIf="validationsFormService.isFieldInvalid(saleForm, 'nameEmployee')"
        class="error-message"
      >
        {{ validationsFormService.getErrorMessage(saleForm, "nameEmployee") }}
      </div>
    </div>

    <div class="form-group">
      <label for="emailEmployee">E-mail Empleado: </label>
      <input
        id="emailEmployee"
        formControlName="emailEmployee"
        class="form-control readonly-input"
        readonly
        (keydown)="validationsFormService.preventInput($event)"
        (input)="validationsFormService.preventInput($event)"
      />
      <div
        *ngIf="validationsFormService.isFieldInvalid(saleForm, 'emailEmployee')"
        class="error-message"
      >
        {{ validationsFormService.getErrorMessage(saleForm, "emailEmployee") }}
      </div>
    </div>

    <!-- Status Sale -->
    <div class="form-group" *ngIf="classModal == 'eye' && !viewProducts">
      <label for="payment_status">Estatus:</label>
      <input
        type="text"
        class="form-control readonly-input"
        formControlName="payment_status"
        readonly
      />
    </div>
    <div
      class="form-group"
      *ngIf="
        classModal == 'eye' &&
        !viewProducts &&
        saleForm.get('payment_status')?.value === 'Rechazada'
      "
    >
      <label for="rejection_reason">Motivo Rechazo:</label>
      <input
        type="text"
        class="form-control readonly-input"
        formControlName="rejection_reason"
        readonly
      />
    </div>

    <div class="form-group hidden">
      <input id="id" type="number" formControlName="id" class="form-control" />
      <input
        id="customerId"
        type="number"
        formControlName="customerId"
        class="form-control"
      />
      <input
        id="employeesId"
        type="number"
        formControlName="employeesId"
        class="form-control"
      />
      <input
        id="payment"
        type="number"
        formControlName="payment"
        class="form-control"
      />
    </div>
  </form>

  <!-- Datatable => Product Sales -->
  <app-datatable
    [columns]="columnsProductsSale"
    [data]="saleProducts"
    *ngIf="viewProducts === 'viewProducts'"
  ></app-datatable>

  <!-- Datatable => Invoices -->
  <app-datatable
    [columns]="columnsInvoices"
    [data]="invoicesList"
    [showButtonGroup]="showButtonGroupInvoice"
    [buttonsGroup]="buttonsInvoice"
    [iconbuttonsGroup]="iconGroup"
    [titleGroup]="titleGroup"
    [classGroup]="classGroup"
    *ngIf="viewProducts === 'viewInvoices'"
  ></app-datatable>
</app-modal>
