<!-- Filter Input-->
<div class="row my-2">
  <!-- Input de búsqueda y botones en una fila -->
  <div class="col-12 col-md-6 mb-4">
    <div class="form-group d-flex flex-column flex-md-row align-items-center">
      <input
        id="search"
        class="form-control me-2 mb-2 mb-md-0 flex-grow-1"
        placeholder="Ingresa el Sku / Descripción"
        [(ngModel)]="searchInput"
      />
      <button
        class="btn btn-primary fw-bold me-2"
        (click)="filterProducts('input')"
        style="flex: 1"
      >
        Buscar
      </button>
    </div>
  </div>

  <!-- Botón de "Añadir Producto" -->
  <div class="col-12 col-md-6 mb-4 d-flex justify-content-end">
    <button
      class="btn btn-success fw-bold d-flex align-items-center justify-content-center"
      (click)="showModal({}, 'Ver Datos del Producto', 'add', '')"
      style="width: 100%; max-width: 200px; height: 40px; color: white"
      *ngIf="userPayload.role_name === 'Administrador'"
    >
      <svg
        [cIcon]="icons.cilPlus"
        width="20"
        height="20"
        class="me-2"
        title="Añadir"
      ></svg>
      Añadir Producto
    </button>
  </div>
</div>

<!-- Filter Categories-->
<div class="row d-flex justify-content-center">
  <div
    *ngFor="let category of categories"
    class="col-lg-2 col-md-2 col-sm-6 mb-4"
  >
    <button
      [ngClass]="'span-color ' + category.category"
      class="text-center btn-category"
      (click)="filterProducts('category', category.category)"
    >
      {{ category.category }}
    </button>
  </div>
  <!-- View All Products -->
  <div
    class="col-lg-2 col-md-2 col-sm-6 mb-4"
    style="margin-top: 10px !important"
  >
    <button
      class="text-center btn-category"
      (click)="getAllProducts()"
      style="flex: 1; background-color: white; color: black"
    >
      Ver Todos
    </button>
  </div>
  <!-- View Stock Min -->
  <div
    class="col-lg-2 col-md-2 col-sm-6 mb-4"
    style="margin-top: 10px !important"
  >
    <button
      class="text-center btn-category"
      (click)="filterProducts('stock')"
      style="flex: 1; background-color: red; color: white"
    >
      Stock Minimo
    </button>
  </div>
</div>

<div class="row my-4">
  <hr />
  <!-- Products -->
  <div
    class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4"
    *ngFor="let product of products"
  >
    <div class="p-3 border rounded text-center">
      <img
        class="theme-color w-100 rounded mb-3 bg-primary"
        style="height: 250px"
        [src]="apiUpload + (product.photo || 'noImage.png')"
      />
      <h5>{{ product.name }}</h5>
      <span>Sku: {{ product.id }}</span>
      <br />
      <div [ngClass]="'span-color ' + product.category">
        <b>{{ product.category }}</b>
      </div>
      <b> Stock: </b>
      <b [ngClass]="{ 'text-danger': product.stock <= 10 }">{{
        product.stock
      }}</b>
      <br />
      <span class="text-success fw-bold">${{ product.price }}</span>
      <div class="d-flex justify-content-center my-2">
        <button
          title="Ver"
          class="btn btn-view me-2 fw-bold btn-product"
          (click)="
            showModal(product, 'Ver Datos del Producto', 'eye', product.photo)
          "
        >
          <app-icons icon="view"></app-icons>
        </button>
        <button
          title="Editar"
          class="btn btn-edit me-2 fw-bold btn-product"
          (click)="showModal(product, 'Editar Producto', 'edit', product.photo)"
          *ngIf="userPayload.role_name === 'Administrador'"
        >
          <app-icons icon="pencil"></app-icons>
        </button>
        <button
          title="Eliminar"
          class="btn btn-delete fw-bold btn-product"
          (click)="showModaldeleteProduct(product.id)"
          *ngIf="userPayload.role_name === 'Administrador'"
        >
          <app-icons icon="trash"></app-icons>
        </button>
      </div>
    </div>
    <!-- Modal Component (Edit / View / Add  Product) -->
    <app-modal
      [visible]="isModalVisible"
      (visibleChange)="handleModalVisibilityChange($event)"
      [title]="titleModal"
      [class]="classModal"
      (executeFunction)="handleClick()"
    >
      <!-- Img Product => View -->
      <div
        class="form-group d-flex justify-content-center"
        *ngIf="classModal === 'eye'"
      >
        <img
          class="theme-color w-80 rounded mb-3 bg-primary"
          style="height: 250px"
          [src]="apiUpload + nameFile"
        />
      </div>
      <form
        [formGroup]="productForm"
        class="product-form"
        [ngClass]="classModal"
      >
        <div class="form-group">
          <label for="name">Name:</label>
          <input id="name" formControlName="name" class="form-control" />
          <div
            *ngIf="isFieldInvalid(productForm, 'name')"
            class="error-message"
          >
            {{ getErrorMessage(productForm, "name") }}
          </div>
        </div>

        <div class="form-group">
          <label for="description">Description:</label>
          <input
            id="description"
            formControlName="description"
            class="form-control"
          />
          <div
            *ngIf="isFieldInvalid(productForm, 'description')"
            class="error-message"
          >
            {{ getErrorMessage(productForm, "description") }}
          </div>
        </div>

        <div class="form-group">
          <label for="price">Price:</label>
          <input
            id="price"
            type="number"
            formControlName="price"
            class="form-control"
          />
          <div
            *ngIf="isFieldInvalid(productForm, 'price')"
            class="error-message"
          >
            {{ getErrorMessage(productForm, "price") }}
          </div>
        </div>

        <div class="form-group">
          <label for="category">Category:</label>
          <select id="category" formControlName="category" class="form-control">
            <option value="">Selecciona una Categoría</option>
            <option *ngFor="let cat of categories" [value]="cat.category">
              {{ cat.category }}
            </option>
          </select>
          <div
            *ngIf="isFieldInvalid(productForm, 'category')"
            class="error-message"
          >
            {{ getErrorMessage(productForm, "category") }}
          </div>
        </div>

        <div class="form-group">
          <label for="stock">Stock:</label>
          <input
            id="stock"
            type="number"
            formControlName="stock"
            class="form-control"
          />
          <div
            *ngIf="isFieldInvalid(productForm, 'stock')"
            class="error-message"
          >
            {{ getErrorMessage(productForm, "stock") }}
          </div>
        </div>
        <div class="form-group">
          <label for="key_sat">Clave de Producto:</label>
          <input
            id="key_sat"
            type="text"
            formControlName="key_sat"
            class="form-control"
            list="key_sat_options"
            (input)="filterKeySat($event)"
          />
          <datalist id="key_sat_options">
            <option *ngFor="let key of filteredKeySat" [value]="key.clave">
              {{ key.clave }} - {{ key.descripcion }}
            </option>
          </datalist>
          <div
            *ngIf="isFieldInvalid(productForm, 'key_sat')"
            class="error-message"
          >
            {{ getErrorMessage(productForm, "key_sat") }}
          </div>
        </div>
        <div class="form-group" *ngIf="classModal !== 'eye'">
          <label for="photoUpload">Foto:</label>
          <input
            type="file"
            id="photoUpload"
            formControlName="photoUpload"
            class="form-control"
            (change)="onFileSelected($event)"
            accept="image/*"
          />
          <div
            *ngIf="isFieldInvalid(productForm, 'photoUpload')"
            class="error-message"
          >
            {{ getErrorMessage(productForm, "photoUpload") }}
          </div>
        </div>

        <div class="form-group hidden">
          <input
            id="photo"
            type="text"
            formControlName="photo"
            class="form-control"
          />
          <input
            id="id"
            type="number"
            formControlName="id"
            class="form-control"
          />
        </div>
      </form>
    </app-modal>
  </div>
</div>
