<!-- Section Filters and Add -->
<div class="d-flex flex-column flex-md-row p-4">
  <div class="col-12 mb-3 mb-md-0 d-flex align-items-center">
    <input
      type="text"
      class="form-control me-2"
      placeholder="Ingresa el Id/Nombre del Empleado"
      [(ngModel)]="idEmployeeSearch"
      (keyup.enter)="searchEmployee()"
    />
    <button
      class="btn btn-success fw-bold d-flex align-items-center justify-content-center btn-search"
      (click)="searchEmployee()"
    >
      <app-icons icon="search"></app-icons>
      <span>Buscar</span>
    </button>
    <button
      class="mx-3 btn btn-success fw-bold d-flex align-items-center justify-content-center btn-filter"
      (click)="onAdd()"
    >
      <app-icons icon="plus"></app-icons>
      <span>Añadir Empleado</span>
    </button>
  </div>
</div>

<!-- Datatable General Employee -->
<app-datatable
  [columns]="columns"
  [data]="employees"
  [buttons]="buttons"
  [showButtonGroup]="showButtonGroupEmployee"
></app-datatable>

<!-- Modal Component -->
<app-modal
  [visible]="isModalVisible"
  (visibleChange)="handleModalVisibilityChange($event)"
  [title]="titleModal"
  [class]="classModal"
  (executeFunction)="handleClick()"
>
  <!-- Form View || Form Edit -->
  <form [formGroup]="employeeForm" class="product-form" [ngClass]="classModal">
    <div class="form-group" *ngIf="classModal !== 'add'">
      <label for="id">N° Empleado:</label>
      <input
        id="id"
        formControlName="id"
        class="form-control readonly-input"
        type="text"
        readonly
        (keydown)="validationsFormService.preventInput($event)"
        (input)="validationsFormService.preventInput($event)"
      />
      <div
        *ngIf="validationsFormService.isFieldInvalid(employeeForm, 'id')"
        class="error-message"
      >
        {{ validationsFormService.getErrorMessage(employeeForm, "id") }}
      </div>
    </div>

    <div class="form-group">
      <label for="name">Nombre:</label>
      <input
        id="name"
        formControlName="name"
        class="form-control"
        type="text"
      />
      <div
        *ngIf="validationsFormService.isFieldInvalid(employeeForm, 'name')"
        class="error-message"
      >
        {{ validationsFormService.getErrorMessage(employeeForm, "name") }}
      </div>
    </div>

    <div class="form-group">
      <label for="email">E-mail:</label>
      <input
        id="email"
        formControlName="email"
        class="form-control"
        type="email"
      />
      <div
        *ngIf="validationsFormService.isFieldInvalid(employeeForm, 'email')"
        class="error-message"
      >
        {{ validationsFormService.getErrorMessage(employeeForm, "email") }}
      </div>
    </div>

    <div class="form-group">
      <label for="phone">Télefono:</label>
      <input
        id="phone"
        formControlName="phone"
        class="form-control"
        type="phone"
      />
      <div
        *ngIf="validationsFormService.isFieldInvalid(employeeForm, 'phone')"
        class="error-message"
      >
        {{ validationsFormService.getErrorMessage(employeeForm, "phone") }}
      </div>
    </div>

    <div class="form-group">
      <label for="address">Dirección:</label>
      <input
        id="address"
        formControlName="address"
        class="form-control"
        type="text"
      />
      <div
        *ngIf="validationsFormService.isFieldInvalid(employeeForm, 'address')"
        class="error-message"
      >
        {{ validationsFormService.getErrorMessage(employeeForm, "address") }}
      </div>
    </div>

    <div class="form-group">
      <label for="role_id">Rol:</label>
      <select id="role_id" formControlName="role_id" class="form-control">
        <option value="">Selecciona una Categoría</option>
        <option *ngFor="let rol of roles" [value]="rol.id">
          {{ rol.name }}
        </option>
      </select>
      <div
        *ngIf="validationsFormService.isFieldInvalid(employeeForm, 'role_id')"
        class="error-message"
      >
        {{ validationsFormService.getErrorMessage(employeeForm, "role_id") }}
      </div>
    </div>
  </form>
</app-modal>
