.content-principal {
  background-image: url("../../../../assets/images/background-2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content-principal::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.main-content {
  z-index: 2;
}

.register-container {
  background-color: #db5d5d !important;
}

.btn-forget-password {
  background-color: #212631 !important;
  border: 1px solid #212631 !important;
}

.btn-login {
  background-color: #db5d5d;
  border: 1px solid #db5d5d;
}

.sloggan{
  font-size: 13px;;
  font-style: italic;
  margin-top:10px;
}