/* Buttons */
.btn-view {
  background-color: #17a2b8;
  color: white;
  border: 1px solid #17a2b8;
  border-radius: 4px;
  padding: 8px 16px;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 3px;
  margin-right: 3px;
  
  &:hover {
    background-color: #138496;
    color: white;
    transition: 0.3s;
  }
}

.btn-view-products{
  background-color: #6f42c1;
  color: white;
  border: 1px solid #6f42c1;
  border-radius: 4px;
  padding: 8px 16px;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 3px;
  margin-right: 3px;
  
  &:hover {
    background-color: #5a359f;
    color: white;
    transition: 0.3s;
  }
}

.btn-edit {
  background-color: #ffc107;
  color: white;
  border: 1px solid #ffc107;
  border-radius: 4px;
  padding: 8px 16px;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 3px;
  margin-right: 3px;

  &:hover {
    background-color: #e0a800;
    color: white;
    transition: 0.3s;
  }
}

.btn-delete {
  background-color: #dc3545;
  color: white;
  border: 1px solid #dc3545;
  border-radius: 4px;
  padding: 8px 16px;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 3px;
  margin-right: 3px;

  &:hover {
    background-color: #c82333;
    color: white;
    transition: 0.3s;
  }
}

.btn-success {
  background-color: #28a745;
  color: white;
  border: 1px solid #28a745;
  border-radius: 4px;
  padding: 8px 16px;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 3px;
  margin-right: 3px;

  &:hover {
    background-color: #218a3a;
    color: white;
    transition: 0.3s;
  }
}

.btn-download {
  background-color: #6c757d;
  color: white;
  border: 1px solid #6c757d;
  border-radius: 4px;
  padding: 8px 16px;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 3px;
  margin-right: 3px;

  &:hover {
    background-color: #50575d;
    color: white;
    transition: 0.3s;
  }
}

.btn-group, .btn-group-vertical {
  position: static !important;
  display: inline-flex;
  vertical-align: middle;
}

.action-link{
  cursor: pointer;
}